html {
    font-family: "Poppins", sans-serif;
}

:root {
  --hvid: #ffffff;
  --grå: #2e2e2e;
  --rød: #c35146;
  --brun: #d7924f;
  --orange: #de956a;
  --beige: #f6cd97;
  --sort: #393939;
  --egg: #ffedd5;

  /* skrives: var(--farve); */
}

nav {
  display: flex;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange);
  width: 80%;
}

nav img {
  display: flex;
  width: 3rem;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  color: var(--hvid);
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f77f00;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
nav .fa {
  display: none;
}
@media only screen and (min-width : 425px) and (max-width: 480px){
  html, body {overflow-x: hidden;}
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #003049;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  nav a img {
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .nav-links ul li a {
    color: #eae2b6;
    text-decoration: none;
    font-size: 12px;
  }
}

@media only screen and (min-width : 300px) and (max-width: 424px){
  html, body {overflow-x: hidden;}
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #003049;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #eae2b6;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  nav a img {
    margin-left: 1rem;
    margin-top: 0rem;
    width: 10rem;
  }
  .nav-links ul li a {
    color: #eae2b6;
    text-decoration: none;
    font-size: 16px;
  }
}
@media only screen and (min-width : 425px) and (max-width: 633px){
  html, body {overflow-x: hidden;}
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #003049;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #eae2b6;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  nav a img {
    margin-left: 0rem;
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 17rem;
  }
  .nav-links ul li a {
    color: #eae2b6;
    text-decoration: none;
    font-size: 15px;
  }
}
@media only screen and (min-width : 634px) and (max-width: 1178px){
  html, body {overflow-x: hidden;}
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #003049;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #eae2b6;
    margin: 10px;
    font-size: 3rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  nav a img {
    margin-left: 0rem;
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 17rem;
  }
  .nav-links ul li a {
    color: #eae2b6;
    text-decoration: none;
    font-size: 15px;
  }
}

























/* Jeanett */














/* Caro */














/* Peter */

footer {
background-color: var(--beige);
font-family:"Proxima Nova Alt", Sans-serif;
color: var(--sort);
text-align: left;
}






/* Ribaz */
