html {
    font-family: "Poppins", sans-serif;
}

:root {
  --hvid: #ffffff;
  --grå: #2e2e2e;
  --rød: #c35146;
  --brun: #d7924f;
  --orange: #de956a;
  --beige: #f6cd97;
  --sort: #393939;
  --egg: #ffedd5;

  /* skrives: var(--farve); */
}

p{
  font-size: 16px;
  font-weight: 300;
}

h1{
  font-size: 34px;
  color: var(--sort);
}
h2{
  font-size: 24px;
  color: var(--rød);
  font-weight: 800;
  text-align: center;
}
h3{
  font-size: 22px;
  color: var(--sort);
  font-weight: 500;
}

nav {
  display: flex;
  position: inherit;
  border-radius: 0 0 30px 30px;
  justify-content: space-between;
  background-color: var(--orange);
  width: 80%;
  align-items: flex-start;
  margin-left: 9.2%;
  margin-top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  align-items: baseline;
}

nav img {
  display: flex;
  width: 3rem;
  align-items: baseline;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}

.nav-links ul li a {
  color: var(--hvid);
  text-decoration: none;
  font-size: 20px;
  align-items: baseline;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 3px;
  background: var(--egg);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
nav .fa {
  display: none;
}


@media only screen and (min-width : 425px) and (max-width: 480px){
  html, body {overflow-x: hidden;}
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    background-color: var(--orange);
    border-radius: 0 0 30px 30px;
    flex-direction: column;
  }

  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 20px;
    display: block;
  }
  nav a img {
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .nav-links ul li a {
    color: var(--hvid);
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
  }
}

@media only screen and (min-width : 300px) and (max-width: 424px){
  html, body {overflow-x: hidden;}

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    background-color: var(--orange);
    border-radius: 0 0 30px 30px;
    flex-direction: column;
  }

  nav .fa {
    display: block;
    color: var(--hvid);
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 20px;
    display: block;
  }
  nav a img {
    margin-left: 1rem;
    margin-top: 0rem;
    width: 4rem;
  }
  .nav-links ul li a {
    color: var(--hvid);
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
  }
}
@media only screen and (min-width : 425px) and (max-width: 1090px){
  html, body {overflow-x: hidden;}

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    background-color: var(--orange);
    border-radius: 0 0 30px 30px;
    flex-direction: column;
  }

  nav .fa {
    display: block;
    color: var(--sort);
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 20px;
    display: block;
  }
  nav a img {
    margin-left: 0rem;
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 4rem;
  }
  .nav-links ul li a {
    color: var(--hvid);
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
  }
}
/* Landing */

.stephLanding {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  height: 80vh;
  background: var(--egg);
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 20px;
  box-sizing: border-box;
}
.stephIndhold {
  padding-top: 100px;
}
.stephIndhold h1, h2{
  text-align: left;
  padding-left: 10%;
}

/* Bog */

body .book {
    width: 100%;
    height: 10em;
    display: flex;
    perspective: 2790px;
}
.book{
  display: flex;
  margin-left: 40rem;
  position: relative;
  align-items: center;

}
.front,.back{
    position: absolute;
    height: 28em;
    width: 20.5em;
    transform-origin: left center;
    transition: transform .5s ease-in-out , box-shadow .4s ease-in-out;
    border-radius: 0px 20px 20px 0px;
}
.front, .back{

       background: linear-gradient(to right, var(--rød), var(--brun));
}
span .front, .fpage, .spage, .gpage, .tpage, .epage, .mpage{
  background: #f7f9fc;
  position: absolute;
    height: 28em;
    width: 20em;
    transform-origin: left center;
    transition: transform .5s ease-in-out , box-shadow .4s ease-in-out;
    border-radius: 0px 20px 20px 0px;
}

.book:hover .front{
    transform: rotateY(-145deg);
      box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .fpage{
  transform: rotateY(-125deg);
      box-shadow: 0  0 1em  0 rgba(0, 0, 0, .2);
  z-index:1;
}
.book:hover .spage{
  transform: rotateY(-115deg);
      box-shadow: 0  0 1em  0 rgba(0, 0, 0, .2);
  z-index:1;
}
.book:hover .spage p {
  transform: rotateY(175deg);
  font-size: 35px;
  font-weight: 600;
  color: var(--sort);
  padding-left: 50px;
}
.book:hover .gpage{
  transform: rotateY(-135deg);

     box-shadow: 0  0 1em  0 rgba(0, 0, 0, .2);
}
.book:hover .mpage{
  transform: rotateY(-60deg);
     box-shadow: 0  0 1em  0 rgba(0, 0, 0, .2);
}
.book:hover .tpage{
    transform: rotateY(-40deg) ;
      box-shadow: 0  0 1em 0  rgba(0, 0, 0, .2);

}
.book:hover .epage{
    transform: rotateY(-50deg);
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, .2);
}


.book:hover .back{
    transform: rotateY(-30deg);
      box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  z-index:-1;
}

/* 3 bokse */

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 30%;
  height: 60vh;
  background: var(--egg);
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 20px;
  box-sizing: border-box;
  transition: 1s;
  line-height: 30px;
  text-align: left;
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 75px;
}

#stephCTA {
  background-color: var(--brun);
  width: 200px;
  height: 50px;
  flex-grow: 1;
  cursor: pointer;
  margin: 15%;
  border-radius: 15px;
  border-width: 0;
  font-size: 22px;
  color: var(--hvid);
  font-weight: 400;
}


























/* Jeanett */

.jflex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: stretch;
    /* margin: 150px 0 150px 0; */
  }

  .jflex-items1:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
  }

  .jflex-items2:nth-child(2) {
    display: block;
    height: 100%;
    background: var(--egg);
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px;
  }


/* TIMELINE */

  .timeline {
    margin-top: 35px;
    padding: 15px;
    display: grid;
    grid-template-columns: 40% auto;
    justify-content: center;
  }

  .jul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  .jli {
    margin-top: 30px;
    position: relative;
    padding: 25px;
  }
  .jli p {
    padding: 0 20px;
    transition: 1.5s;
  }

  .date {
    position: absolute;

    top: 30px;
    left: -50px;
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;
  }
  .timeline-line {
    background: rgb(228, 228, 228);
    width: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: end;
  }

  .timeline-point {
    border: none;
    position: absolute;
    border-radius: 50%;
    background: rgb(228, 228, 228);
    width: 8px;
    height: 8px;
    top: 30px;
    left: -6px;
    transition: 1.5s ease;
  }
  .timeline-innerline {
    position: absolute;
    background: var(--brun);
    width: 4px;
    height: 0%;
    top: 0%;
    left: 0%;
    transition: 1s linear;
  }

  @media screen and (min-width: 728px) {
    .timeline {
      display: block;
    }
    .jul {
      flex-direction: row;
    }
    .jli {
      margin-top: 0px;
      position: relative;
      /* width: 100%; */
      padding: 0px;
    }
    .jli p {
      transform: translateY(-10px);
      opacity: 0;
      padding: 0 20px;
      transition: 1.5s;
    }

    .date {
      opacity: 0;
      transition: 1.5s;
      font-size: 12px;
      position: absolute;
      top: -60px;
      left: 38%;
    }

    .timeline-point {
      width: 15px;
      height: 15px;
      top: -40px;
      left: 40%;
      transition: 1.5s ease;
    }

    .timeline-line {
      width: 100%;
      height: 4px;
    }

    .timeline-innerline {
      position: absolute;
      background: var(--brun);
      width: 0%;
      height: 4px;
      top: 0%;
      left: 0%;
      transition: 1s linear;
      border-radius: 999px;
    }
  }




/* Caro */
.centerImage
{
 text-align:center;
 display:block;
}

.button  {
  background-color: var(--brun);
  align-items: center;
  color: #eee;
  padding: 15px 25px;
  border: none;
  border-radius: 12px;
  width: auto;
}


.button :hover {
   background-color: var(--orange);
   width: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Galleri */


.title {
  text-align: center;
  margin-top: 60px;
}
.portfolio_slider {
  margin: 60px auto;
  max-width: 1200px;
  border-top: 4px solid var(--rød);
  border-bottom: 4px solid var(--rød);
  display: flex;
}
.portfolio_slider {
  flex: 1 1 0;
  background-color: none;
}

.inner {
  padding: 6px;
}

.inner img {
  width: auto;
  height: 150px;
}
img:hover {
  opacity: 0.9;
}







/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}










/* Peter */

footer {
  display: grid;
  padding-top: 40px;
  background-color: var(--beige);
  font-family:"Proxima Nova Alt", Sans-serif;
  color: var(--sort);
  text-align: left;
  grid-template-columns: auto auto auto;
}
footer img {
  width: 3rem;
}





/* Ribaz */
