html {
    font-family: "Poppins", sans-serif;
}

:root {
  --hvid: #ffffff;
  --grå: #2e2e2e;
  --rød: #c35146;
  --brun: #d7924f;
  --orange: #de956a;
  --beige: #f6cd97;
  --sort: #393939;
  --egg: #ffedd5;

  /* skrives: var(--farve); */
}

nav {
  display: flex;
  border-radius: 0 0 30px 30px;
  justify-content: space-between;
  background-color: var(--orange);
  width: 80%;
  align-items: flex-start;

}

nav ul {
  display: flex;
  align-items: baseline;
}

nav img {
  display: flex;
  width: 3rem;
  align-items: baseline;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}

.nav-links ul li a {
  color: var(--hvid);
  text-decoration: none;
  font-size: 20px;
  align-items: baseline;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f77f00;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
nav .fa {
  display: none;
}




























/* Jeanett */














/* Caro */














/* Peter */

footer {
  display: grid;
  background-color: var(--beige);
  font-family:"Proxima Nova Alt", Sans-serif;
  color: var(--sort);
  text-align: left;
  grid-template-columns: auto auto auto;
}
footer img {
  width: 3rem;
}





/* Ribaz */
